# Languages - TODO thing
/languages
# Images with lisa <3
/i/risa-*
# Backups lol
/backups
# MacOS thingy
.DS_Store
# node - TODO: make parser available open wide (it's not ready yet)
/node
# VSCode settings
/.vscode
# Temp files
/.temp
# Old files I won't hide
# */_old

# remove it!
/i
/assets/pwa-icons
/assets/vue
/meta.test.json