body > div.compact > .skin {
}

body > div.compact > .skin > [download-button] {
  display: none;
}

body > div.compact > .skin.show {
  flex-direction: column;
  height: auto;
}

body > div.compact > .skin.show > .preview {
  width: 100%;
  height: 240px;
}

body > div.compact > .skin.show > [download-button] {
  display: flex;
}

body > div.compact > .skin.show > [download-button] > a[download] {
  flex: 1;
  margin: 0;
  border-radius: 0;
  font-size: 1rem;
}
body > div.compact > .skin.show > [download-button] > a[download]::after {
  content: "Download";
  margin-left: 5px;
}
