body > .compact > .skin {
}

body > .compact > .skin > .download-button {
  display: none;
}

body > .compact > .skin.show {
  flex-direction: column;
  height: auto;
}

body > .compact > .skin.show > .preview {
  width: 100%;
  height: 240px;
}

body > .compact > .skin.show > .download-button {
  display: flex;
}

body > .compact > .skin.show > .download-button > [download] {
  flex: 1;
  margin: 0;
  border-radius: 0;
  font-size: 1rem;
}
body > .compact > .skin.show > .download-button > [download]::after {
  content: "Download";
  margin-left: 5px;
}
