.skin > .info-block {
  flex: 1;
  margin: 8px 12px;
  display: flex;
  flex-direction: column;
}

.info-block > .meta {
  flex: 1;
}

.meta > .meta-name {
  font-size: 1rem;
  font-weight: bold;
  color: var(--high);
  text-decoration: none;
}
.meta > .meta-tags {
  font-size: 14px;
}
.meta > .meta-author {
  font-size: 14px;
}

.meta > .meta-tags > .nsfw.tag::after {
  content: "NSFW";
  color: #f00;
  font-weight: bold;
}
.meta > .meta-tags > .original.tag::after {
  content: "Original";
  color: #228b22;
}
.meta > .meta-tags > .modded.tag::after {
  content: "Modded";
  color: #f4a460;
}

.meta > .meta-author > .author-link {
  color: var(--high);
}

.skin > .info-block > .other {
  display: none;
}

.skin.show > .info-block > .other {
  display: flex;
  margin-top: 1rem;
}

.info-block > .other > * {
  color: var(--high);
}

.info-block > .other > ::after{
  margin-left: 5px;
}

.info-block > .other > :not(:last-child) {
  margin-right: 0.5rem;
}

.info-block > .other > .source-button::after {
  content: "Source";
}
.info-block > .other > .video-button::after {
  content: "Video Preview";
}
