:root{
	--nr-lightdark:#33302e !important;
	--nr-dark:#191717;
	--nr-semidark:#272322;

	background-color:#191717;
}
body{
	margin:0;
	width:100vw;
	background-color:transparent;
}
noscript{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a{
	color:#dba797;
}
a:hover{
	color:#c58177;
}

/* Scroll bars */
::-webkit-scrollbar{
	height:0;
	width:15px;
}
::-webkit-scrollbar-track{
	background:transparent;
}
::-webkit-scrollbar-thumb{
	background-color:var(--nr-lightdark);
}
/* ----------- */

/* Bootstrap elements overrides */
.text-light{
	color:#e2e2e2 !important;
}
/* ----------------------------  */

/* Elements */
#risa{
	display:flex;
	flex-direction:column;
	height:100vh;
}

/* Nav-bar related */
nav.nr.navbar{
	top:0;
	z-index:1030;
	padding:.5rem 0 !important;
}

.navbar-brand{
	font-weight:bold;
	margin:0 1rem !important;
}

.nr.search-icon{ margin: 5px 10px 0 0 }

.nr.search-bar{
	width:100vw;
	background-color:var(--nr-lightdark);
	display:flex;
	padding:5px 15px;
}
.nr.search-bar.v{}

.nr.search-bar input{
	flex:1;
	border:none;
	color:white;
	background-color:transparent;
}
.nr.search-bar input:focus{outline:none;}
/* --------------- */

/* Content related */
.scroll-area{
	flex:1;
	overflow-y: scroll;
	overflow-x: hidden;
}

#skins-shower{
	flex:1;
	padding:5px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap
}
/* --------------- */

/* Skin-card related */
.nr.skin.card{
	margin:5px;
	overflow:hidden;
	display:block;
    max-width: 480px;
    width: 100%;
	background-color:var(--nr-semidark);
	color:white;
}

/* Skin-card content related */
.nr.tags{
	padding:0 5px;
	position:absolute;
	top:0; left:0;
	width:100%;
	flex-wrap:wrap;
	display:flex;
	z-index:1020;
}
.nr.tags.boxed{
	position:relative;
	padding:0;
	margin-top:-5px;
}
.nr.tags .tag{
	margin-top:5px;
}
.nr.tags .tag:not(:last-child){
	margin-right:5px;
}

.nr.screenshots{
	display:flex;
	flex-direction:row;
	height:270px;
	background-color:black;	
}
.nr.screenshots .screenshot{
	cursor:pointer;
	width:auto;
	height:270px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:auto 100%;
	flex:1;

	-webkit-transition: all .5s cubic-bezier(0.5, 0, 0.3, 1.1);
	transition: all .5s cubic-bezier(0.5, 0, 0.3, 1.1);
	opacity:.5;
}
.nr.screenshots .screenshot.video{
	background-size:100% auto;
}
.nr.screenshots .screenshot.nsfw{
	opacity:0;
}
.nr.screenshots .screenshot:hover{
	opacity:1;
	flex:20;
}
.nr.screenshots .screenshot.video:hover{
	opacity:1;
	flex:1;
}

.nr.name{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display: flex;
}
.nr.author{
	font-size:.85rem;
}
.nr.skin .btn{
	margin:5px 0 0 0;
}
/* ------------------------- */

/* Paginator */
.nr.pages-line{ width:100% }
.nr.pagination{
	margin-top:1rem;
}
.nr.pagination .page-item .page-link{
	background-color:var(--nr-semidark);
	border-color: var(--nr-lightdark);
	color:#dba797;
}
.nr.pagination .page-item .page-link:focus{
	box-shadow: 0 0 0 .2rem rgba(219, 167, 151, 0.25);
}
.nr.pagination .page-item.disabled .page-link{
	color:#5b4744
}
/* --------- */

/* Footer */
.bottom{
	width:100%;
	text-align:center;
	padding:10px;
	user-select: text;
}
/* ------ */

/* Nothing found template related */
.nr.nothing-found{
	margin:30px;
}
/* ------------------------------ */

/* Popup things */
.close-view{
	user-select:none;
	position:fixed;
	top:0;left:0;
	width:100vw;
	height:100vh;
	z-index:1040;
}
.close-background{
	position:absolute;
	background-color:rgba(0,0,0,.9);
	top:0;left:0;
	width:100vw;
	height:100vh;
	z-index:1041;
	cursor:pointer;
}
.close-content{
	position:absolute;
	width:100vw;
	height:100vh;
	overflow-x:hidden;
	overflow-y:scroll;
}
.close-content *{
	z-index:1050;
}

.video-preview{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.video-preview iframe{
	max-width:848px;
	max-height:480px;
	width:100%;height:100%;
	background-color:black;
	border-radius:.25rem;
	overflow:hidden;
	margin:0 15px;
}

.skin-view{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.view-scroller{
	padding:15px;
	width:100%;
	max-width:480px;
}
.card-video{
	width:100%;
	margin:5px 0 0 0;
	height:240px;
	border-radius:.25rem;
	overflow:hidden;
	background-color:black;
}
/* ------------ */