/*
  Themes file
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:400"); /* import roboto only now, yes */

.deep-dark {
  --low: #000000;
  --mid: #616161;
  --high: #f5f5f5;
  --border: 1px solid #262626;
}

.milk-light {
  --low: #fafafa;
  --mid: #c7c7c7;
  --high: #212121;
}

.cute-brown {
  --low: #3e2723;
  --mid: #6a4f4b;
  --high: #f5f5f5;
}
