nav.navbar{
    position: fixed !important;
    top:0;
    width: 100vw;
    z-index: 100;
}
body{
    margin: 0;
}
.nv-btn{
    margin-right: 5px;
    cursor: pointer;
}
#risa{
    width:100vw;
}
#skins-shower{
    padding-top: 56px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}
.skin{
    margin: 5px;
    overflow: hidden;
    width: 480px;
    display: block;
}
.screenshots{
    display: flex;
    flex-direction: row;
}
.screenshots .screenshot{
    width: auto;
    height: 270px;
    background-position: center;
    background-size: auto 100%;
    flex:1;
    transition: 1s flex ease-in-out;
}

.screenshots .screenshot:hover{
    flex:10;
}

.skin-author span{
    opacity: 0.5
}
.pages-line{
    width: 100vw;
}
.pagination{
    margin-top: 1rem;
}

.bottom{
    width: 100vw;
    text-align: center;
}
#h{
    display: inline-block;
    background-image: url(/assets/heart.png);
    background-size: 100%;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.div-like-lol{
    margin: 10px;
    font-size: 16px;
    display: inline-block;
}
.linker{
    background-image: url(./link.png);
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}